{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
<a href="{% url 'my_index' %}">Home</a>
<a href="{% url 'my_about' %}">About</a>
<a href="{% url 'my_contact' %}">Contact us</a>
<a href="{% url 'my_services' %}">Services</a>
<a href="{% url 'my_blog' %}">Blogs</a>
<h2>This is about us Page</h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto blanditiis, corporis cum, distinctio doloremque dolorum ea excepturi mollitia perferendis rem rerum sit voluptas voluptatibus, voluptatum! Inventore iusto odit quos.</span><span>Ad asperiores aspernatur consectetur dolorem exercitationem facere illo impedit molestias mollitia necessitatibus nisi, obcaecati qui quisquam repellendus rerum saepe veritatis? Atque inventore officia optio quas quos sequi veritatis? Expedita, quia?</span><span>Accusamus aliquid amet aperiam atque autem, consectetur dolores error esse, explicabo fuga laborum molestiae necessitatibus, nobis omnis possimus sed soluta tempora. Corpo
    ris delectus, dignissimos distinctio dolor error eveniet ut voluptates.</span></p>
<img src="{% static 'images/cat.jpeg' %}" alt="">
</body>
</html>